<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fgroupboss.ai.psm.contractor.mapper.ContractorWorkerMapper">

    <sql id="workerWhere">
        tenant_id = #{tenantId}
        and deleted = 0
        <if test="companyId != null">
            and company_id = #{companyId}
        </if>
        <if test="keyword != null and keyword != ''">
            and (worker_code like concat('%', #{keyword}, '%')
            or name like concat('%', #{keyword}, '%'))
        </if>
        <if test="accessStatus != null and accessStatus != ''">
            and access_status = #{accessStatus}
        </if>
    </sql>

    <select id="countByTenant" resultType="long">
        select count(1) from contractor_worker
        <where>
            <include refid="workerWhere"/>
        </where>
    </select>

    <select id="listByTenant" resultType="com.fgroupboss.ai.psm.contractor.model.entity.ContractorWorkerEntity">
        select * from contractor_worker
        <where>
            <include refid="workerWhere"/>
        </where>
        order by id desc
        limit #{offset}, #{limit}
    </select>

    <select id="findByCode" resultType="com.fgroupboss.ai.psm.contractor.model.entity.ContractorWorkerEntity">
        select * from contractor_worker
        where tenant_id = #{tenantId}
          and worker_code = #{workerCode}
          and deleted = 0
        limit 1
    </select>
</mapper>
