<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fgroupboss.ai.psm.video.mapper.VideoCameraMapper">

    <sql id="cameraWhere">
        tenant_id = #{tenantId}
        and deleted = 0
        <if test="keyword != null and keyword != ''">
            and (camera_code like concat('%', #{keyword}, '%')
            or camera_name like concat('%', #{keyword}, '%'))
        </if>
        <if test="areaId != null">
            and area_id = #{areaId}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </sql>

    <select id="countByTenant" resultType="long">
        select count(1) from video_camera
        <where>
            <include refid="cameraWhere"/>
        </where>
    </select>

    <select id="listByTenant" resultType="com.fgroupboss.ai.psm.video.model.entity.VideoCameraEntity">
        select * from video_camera
        <where>
            <include refid="cameraWhere"/>
        </where>
        order by id desc
        limit #{offset}, #{limit}
    </select>

    <select id="findByCode" resultType="com.fgroupboss.ai.psm.video.model.entity.VideoCameraEntity">
        select * from video_camera
        where tenant_id = #{tenantId}
          and camera_code = #{cameraCode}
          and deleted = 0
        limit 1
    </select>
</mapper>
