<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"         "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <mapper namespace="com.fgroupboss.ai.psm.realtime.location.mapper.LocGeofenceRuleMapper">      <select id="listByFenceId" resultType="com.fgroupboss.ai.psm.realtime.location.model.entity.LocGeofenceRuleEntity">         select * from loc_geofence_rule         where tenant_id = #{tenantId}           and fence_id = #{fenceId}           and deleted = 0         order by id asc     </select> </mapper>