<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"         "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <mapper namespace="com.fgroupboss.ai.psm.realtime.location.mapper.LocTrackPointMapper">      <select id="listTracks" resultType="com.fgroupboss.ai.psm.realtime.location.model.entity.LocTrackPointEntity">         select * from loc_track_point         where tenant_id = #{tenantId}         <if test="tagNo != null and tagNo != ''">             and tag_no = #{tagNo}         </if>         <if test="personId != null">             and person_id = #{personId}         </if>         <if test="areaId != null">             and area_id = #{areaId}         </if>         <if test="fromTime != null">             and recorded_at &gt;= #{fromTime}         </if>         <if test="toTime != null">             and recorded_at &lt;= #{toTime}         </if>         order by recorded_at asc         limit #{limit}     </select> </mapper>